@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

.inter-normal {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.playball-regular {
  font-family: "Playball", serif;
  font-style: normal;
  font-weight: 300;
}

button {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.text-color {
  color: rgba(255, 255, 255, 0.5);
}

p {
  color: rgba(255, 255, 255, 0.5);
}

header,
section {
  max-width: 1250px;
  margin: 0 auto;
}

/***** Navbar Styles Starts *****/

header {
  background: linear-gradient(
    180deg,
    rgba(119, 119, 119, 0.377),
    rgb(17, 17, 17),
    rgba(17, 17, 17, 0.344),
    rgba(119, 119, 119, 0.13) 100%
  );
  padding: 10px 150px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

nav h1 {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: rgba(255, 255, 255, 0.5);
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  display: inline-block;
  color: white;
  border: none;
  font-size: 20px;
  padding: 0.6rem 1.25rem;
  cursor: pointer;
  border-radius: 46px;
  transition: all 0.4s ease-in-out;
}

.home-btn {
  color: white;
  font-weight: 600;
  background-color: rgb(230, 83, 60);
  padding: 0.6rem 1.25rem;
  border-radius: 46px;
}

.nav-items a:hover {
  background-color: rgb(230, 83, 60);
}

.hamburger {
  color: white;
  display: none;
}

/***** Navbar Styles Ends *****/

/***** Banner Styles Starts *****/

.banner {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.8rem;
}

.banner-contents p {
  max-width: 520px;
  margin: 1.5rem auto;
}

.banner-title {
  font-weight: 900;
  font-size: 4.5rem;
  max-width: 520px;
}

.banner img {
  display: block;
}

.banner-btn {
  background-color: rgb(230, 83, 60);
  color: white;
  font-weight: 600;
  border-radius: 2.625rem;
  padding: 1rem 2.8rem;
  font-size: 1.125rem;
  margin-right: 1rem;
  cursor: pointer;
}

.join-now-btn {
  background-color: rgb(230, 83, 60);
  color: white;
  font-weight: 600;
  border-radius: 2.625rem;
  padding: 1rem 2.8rem;
  font-size: 1.125rem;
  margin-right: 1rem;
  cursor: pointer;
  display: none;
}

.download-btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border-radius: 2.625rem;
  padding: 1rem 2.8rem;
  font-size: 1.125rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.download-btn:hover {
  background-color: rgb(230, 83, 60);
  border: 2px solid rgb(230, 83, 60);
}

.workout-btn,
.video-tutorial-btn {
  backdrop-filter: blur(1px);
  background: rgba(48, 48, 48, 0.608);
  padding: 1.25rem 1.75rem;
  border: none;
  border-radius: 12px;
}

.workout-btn h1,
.video-tutorial-btn h1 {
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: 800;
}

.video-tutorial-btn {
  position: relative;
  top: -15rem;
  right: 9rem;
}

.video {
  width: 3rem;
  height: 3rem;
  background-color: rgb(230, 83, 60);
  border: none;
  border-radius: 50%;
}

.video i {
  color: white;
  position: relative;
  top: 15px;
}

.tutorial-btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.tutorial-btn-contents {
  text-align: left;
}

.workout-btn h1,
.workout-btn p {
  text-align: left;
}

.workout-btn {
  position: relative;
  top: -29rem;
  left: 0.5rem;
}

/***** Banner Styles Ends *****/

/***** Change Your Habits Styles Starts *****/

.change-habits-title {
  margin: 1rem auto;
  font-size: 3rem;
  font-weight: 900;
}

.habits-contents {
  text-align: center;
  max-width: 670px;
  margin: 0 auto;
}

.change-habits-description,
.change-habits-title {
  text-align: center;
}

.habits-container img {
  border-radius: 50%;
  text-align: center;
  padding-left: 1rem;
}

.habits-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3.5rem;
  justify-items: center;
}

.habit h3,
.habit p {
  text-align: center;
  padding-right: 1rem;
  margin: 1rem auto;
}

.habit p {
  font-size: 0.9rem;
}

.habit {
  max-width: 230px;
}

/***** Change Your Habits Styles Ends *****/

/***** Run Extra Styles Starts *****/

.run-extra {
  display: flex;
  justify-content: space-around;
  gap: 7rem;
  align-items: center;
  margin-top: 6rem;
  background: rgb(34, 34, 34);
  padding: 2rem 1rem;
  border-radius: 1.125rem;
}

.run-extra-img img {
  max-width: 366px;
  max-height: 312px;
  border-radius: 1.125rem;
}

.run-extra-title {
  font-size: 3rem;
  font-weight: 800;
}

.run-extra-contents {
  text-align: left;
  max-width: 500px;
}

.run-extra-contents p {
  text-align: left;
  margin-bottom: 1.5rem;
}

/***** Run Extra Styles Ends *****/

/***** BMI Calculator Styles Starts *****/

.bmi-calc {
  margin: 3rem auto;
}

.bmi-calc-contents {
  max-width: 670px;
  text-align: left;
  margin: 5rem auto;
}

.bmi-calc-contents p {
  text-align: left;
}

.bmi-calc-contents h1 {
  font-size: 3rem;
  font-weight: 800;
}

.bmi-calculator {
  background: rgb(34, 34, 34);
}

table {
  border-spacing: 0;
}

td,
th {
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0.8rem 4rem;
}

td {
  color: rgba(255, 255, 255, 0.5);
}

th {
  color: white;
  font-weight: 400;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select::-webkit-outer-spin-button,
select::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
select:focus {
  border: 1px solid rgb(230, 83, 60);
  outline: 0;
}

input,
select {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: none;
  padding: 0.8rem 1.25rem;
}

select {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
option {
  color: black;
}

.bmi-calculator {
  display: flex;
  gap: 10rem;
  padding: 3rem 8rem;
  margin: 2rem auto;
}

.calculate-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  margin: 1rem auto;
}

#activity {
  grid-column: span 2;
}

.bmi-chart h1,
.calculate-contents h1 {
  font-size: 2rem;
  margin: 1rem auto;
}

.calculate-btn {
  padding: 1rem 4rem;
  border: none;
}

/***** BMI Calculator Styles Ends *****/

/***** Responsive Styles *****/

@media screen and (max-width: 576px) {
  header {
    padding: 10px 30px;
    margin-bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(119, 119, 119, 0.371),
      rgb(17, 17, 17),
      rgb(17, 17, 17),
      rgba(119, 119, 119, 0.114) 100%
    );
  }

  .nav-items {
    display: none;
  }

  .hamburger {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .banner {
    flex-direction: column;
  }

  .banner img {
    width: 100%;
  }

  .banner-title {
    font-size: 3rem;
  }

  .banner-btn-parent {
    display: flex;
  }

  .banner-btn {
    display: none;
  }

  .join-now-btn {
    display: block;
    background-color: rgb(230, 83, 60);
    color: white;
    font-weight: 600;
    border-radius: 2.5rem;
    padding: 0.1rem 2rem;
    font-size: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .download-btn {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 600;
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  .video-tutorial-btn {
    position: relative;
    top: -22rem;
    left: -1rem;
  }

  .workout-btn {
    position: relative;
    top: -32rem;
    left: 1rem;
  }

  .workout-btn h1,
  .video-tutorial-btn h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .workout-btn,
  .video-tutorial-btn {
    padding: 0.5rem 1rem;
    border-radius: 16px;
  }

  .change-habits {
    margin: 0 auto;
  }

  .habits-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3rem;
    justify-items: center;
  }

  .change-habits-title {
    font-size: 2rem;
    margin-top: 0;
  }

  .change-habits-description {
    font-size: 0.9rem;
  }

  .habits-contents {
    margin: 0 auto;
  }

  .habits {
    margin-top: 1rem;
  }

  .run-extra {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    margin: 2rem 1rem;
  }

  .run-extra h1 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
  }

  .run-extra-btn {
    display: block;
    width: 100%;
  }

  .bmi-calculator {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem 1rem;
    margin: 2rem auto;
  }

  .bmi-calc {
    margin: 3rem 0;
  }

  input,
  select {
    padding: 0.8rem 1rem;
  }

  td,
  th {
    padding: 0.8rem 2.3rem;
  }

  .bmi-calc-contents {
    max-width: 670px;
    text-align: left;
    margin: 3.9rem 1rem;
  }

  .bmi-calc h1 {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
}
