@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

.inter-normal {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.playball-regular {
  font-family: "Playball", serif;
  font-style: normal;
  font-weight: 300;
}

button {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.text-color {
  color: rgba(255, 255, 255, 0.5);
}

p {
  color: rgba(255, 255, 255, 0.5);
}

header,
main {
  max-width: 1250px;
  margin: 0 auto;
}

/***** Navbar Styles Starts *****/

header {
  background: linear-gradient(
    180deg,
    rgba(119, 119, 119, 0.088),
    rgb(17, 17, 17),
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0.082) 100%
  );
  padding: 10px 150px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

nav h1 {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: rgba(255, 255, 255, 0.5);
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  display: inline-block;
  color: white;
  border: none;
  font-size: 20px;
  padding: 0.6rem 1.25rem;
  cursor: pointer;
  border-radius: 46px;
  transition: all 0.4s ease-in-out;
}

.home-btn {
  color: white;
  font-weight: 600;
  background-color: rgb(230, 83, 60);
  padding: 0.6rem 1.25rem;
  border-radius: 46px;
}

.nav-items a:hover {
  background-color: #ff4500;
}

.hamburger {
  color: white;
  display: none;
}

/***** Navbar Styles Ends *****/

/***** Banner Styles Starts *****/

.banner {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.8rem;
}

.banner-contents p {
  max-width: 520px;
  margin: 1.5rem auto;
}

.banner-title {
  font-weight: 900;
  font-size: 4.5rem;
  max-width: 520px;
}

.banner img {
  display: block;
}

.banner-btn {
  background-color: rgb(230, 83, 60);
  color: white;
  font-weight: 600;
  border-radius: 42px;
  padding: 1rem 2.8rem;
  font-size: 1.125rem;
  margin-right: 1rem;
  cursor: pointer;
}

.download-btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border-radius: 42px;
  padding: 1rem 2.8rem;
  font-size: 1.125rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.download-btn:hover {
  background-color: rgb(230, 83, 60);
  border: 2px solid rgb(230, 83, 60);
}

.workout-btn,
.video-tutorial-btn {
  backdrop-filter: blur(1px);
  background: rgba(48, 48, 48, 0.608);
  padding: 1.25rem 1.75rem;
  border: none;
  border-radius: 12px;
}

.workout-btn h1,
.video-tutorial-btn h1 {
  font-size: 2rem;
}

.video-tutorial-btn {
  position: relative;
  top: -10.7rem;
  left: -7.5rem;
}

.video {
  width: 3rem;
  height: 3rem;
  background-color: rgb(230, 83, 60);
  border: none;
  border-radius: 50%;
}

.tutorial-btn {
  display: flex;
  gap: 1rem;
}

.tutorial-btn-contents {
  text-align: left;
}

.workout-btn h1,
p {
  text-align: left;
}

.workout-btn {
  position: relative;
  top: -28rem;
  left: 1.7rem;
}

/***** Banner Styles Ends *****/

/***** Responsive Styles *****/

@media screen and (max-width: 576px) {
  .nav-items {
    display: none;
  }

  .hamburger {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }
}
